body {
  width: fit-content;
  margin: auto;
  text-align: center;
  background-color: #1d2021;
  color: #fbf1c7;
}

button {
  font-size: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #83a598;
  font-weight: 600;
}

#container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 960px;
  height: 960px;
}

.row {
  display: flex;
  gap: 2px;
}
.cell {
  box-sizing: content-box;
  border: 2px solid #7c6f64;
  /* width: 58.125px;
  height: 58.125px; */
}
